<div id="abc">
    <nav>
        <ul>
            
            
            <li><a href="">Home</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
  
  
  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <div class="container mt-4">
    <div class="row justify-content-center">

       <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <i class="fas fa-train fa-5x"></i>
            
            <h5 class="card-title">Add Train</h5>
            <p class="card-text">Click the button below to add a new train.</p>
            <a routerLink="/admin/addtrain" class="btn btn-secondary">Go to Add Train</a>
          </div>
        </div>
      </div> 

      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <i class="fas fa-eye fa-5x"></i>
            <h5 class="card-title">View Trains</h5>
            <p class="card-text">Click the button below to view existing trains.</p>
            <a routerLink="/admin/viewtrain" class="btn btn-secondary">Go to View Trains</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  
<div class="footer">
  <div class="footer-content">
    <h3>Trains Booking</h3>
    <small>
      Copyright © 2023 ITEC. All Rights Reserved.
    </small>
  </div>
</div>

</div>