<div id="abc">
    <nav>
        <ul>
            
            <li><a href="/admin/adminlogin">Admin Login</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/user/bookticket">Book Tickets</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
<br>
<section class="home-banner gray-bg">
    <div class="container">
        <div class="row full-screen align-item-center">
            <div class="col col-lg-6 col-md-6">
                <div class="home-text-center">
                    <h5 class="font-alt">Hi, Welcome To</h5>
                    <h1>Trains Booking</h1>
                    <p>The trains booking project is a comprehensive web application designed to streamline and simplify the process of booking train tickets for passengers. Developed with a user-centric approach, the project incorporates a user-friendly interface that allows users to seamlessly navigate through various functionalities.
                    </p>
                

                        <div class="icons-menu">
                            <a class="iconfont-wrapper" href="#" target="_blank">
                                <i class="fab fa-facebook p-2"></i>
                            </a>
                            <a class="iconfont-wrapper" href="#" target="_blank">
                                <i class="fab fa-twitter p-2"></i>
                            </a>
                            <a class="iconfont-wrapper" href="#" target="_blank">
                                <i class="fab fa-instagram p-2"></i>
                            </a>
                        </div>
                        <!-- <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li> -->
                   
                </div>
            </div>
    
        </div>
    </div>
</section>

<div class="footer">
    <div class="footer-content">
      <h3>Trains Booking</h3>
      <small>
        Copyright © 2023 ITEC. All Rights Reserved.
      </small>
    </div>
  </div>
  
  

</div>